<%- include('partials/header') %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h3>Descripción de contexto educativo</h3>

        </div>
      </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-responsive-md text-center" colspan="2">Herramientas Google para la productividad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contexto de aprendizaje</td>
            <td>La Institución Educativa Colombia adquirió los servicios de G Suite para facilitar procesos de
              comunicación, organización, documentación, almacenamiento de archivos, entre otros. Se identificó la
              necesidad de capacitar al personal administrativo en el uso de las mismas herramientas para fortalecer el
              trabajo colaborativo y aprovechar todas las funcionalidades para mejorar la productividad.</td>
          </tr>
          <tr>
            <td>Grupo destinatario</td>
            <td>Personal administrativo de la Institución Educativa Colombia</td>
          </tr>
          <tr>
            <td>Descripción de la formación a desarrollar</td>
            <td>El curso herramientas de google, denominadas herramientas G Suite, permitirá conocer de manera general
              el paquete de herramientas de productividad basado en la nube el cual le ayudará a los participantes y a
              su equipo a estar comunicados y agilizar el trabajo desde donde se encuentren.</td>
          </tr>
          <tr>
            <td>Modalidad</td>
            <td>Virtual</td>
          </tr>
          <tr>
            <td>Total Horas</td>
            <td>40 Horas</td>
          </tr>
          <tr>
            <td>Objetivo general</td>
            <td>Integrar las herramientas G Suite ofrecidas por la plataforma de Google, como medio para fortalecer el
              trabajo colaborativo entre personas y empresas.</td>
          </tr>
          <tr>
            <td>Objetivo Conceptual</td>
            <td>Identificar las generalidades y funciones de la Suite G y su potencial como herramienta de trabajo más
              allá de su servicio de correo electrónico.</td>
          </tr>
          <tr>
            <td>Objetivo Procedimental</td>
            <td>Aplicar las herramientas Google y las funcionalidades de cada una en las actividades propuestas para
              después implementarlas en sus labores cotidianas</td>
          </tr>
          <tr>
            <td>Objetivo Actitudinal</td>
            <td>Analizar las herramientas G Suite como una oportunidad para el mejoramiento de las labores profesionales
              o personales, convirtiéndolas en un aliado eficiente para el manejo de información en la web.</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


<div class="container">
<div style="position: relative; width: 100%; height: 0; padding-top: 250.0000%;
  padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
  border-radius: 8px; will-change: transform;">
  <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAENz0F7NI8&#x2F;view?embed">
  </iframe>
</div>
</div>
<hr>

<!-- Footer -->
<%- include('partials/footer') %>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>