<%- include('partials/header') %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3>Identificación y selección del modelo de diseño tecnopedagógico de una acción educativa sustentada con las
            tecnologías</h3>
          <br>
          <span class="subheading">Proyecto Presentado por:</span>
          <br>
          <span class="subheading">Eyvis Lucia Marrugo Batista</span>
          <span class="subheading">David M. Ramírez</span>
          <span class="subheading">Carlos Alberto Mejía Rodríguez</span>
          <span class="subheading">Irina Urón Ariza</span>
          <span class="subheading">Yessica Hernandez</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->



<!-- Footer -->
<%- include('partials/footer') %>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>