<%- include('partials/header') %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h3>Modelo de diseño instruccional que se ajusta mejor al contexto y a la formación a desarrollar</h3>

        </div>
      </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">

  <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
border-radius: 8px; will-change: transform;">
    <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEN0DPEvPA&#x2F;view?embed">
    </iframe>
  </div>

</div>
</div>

<hr>

<!-- Footer -->
<%- include('partials/footer') %>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>